.authorization-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;

  &__wrapper {
    margin: 0 auto;
    max-width: 492px;
  }

  &__main {
    padding: 0 20px;
    width: 100%;
  }

  &__content {
    margin-top: 60px;
    text-align: center;

    @include mobile {
      margin-top: 102px;
    }

    &--with-title {
      @include mobile {
        margin-top: 66px;
      }
    }
  }

  &__logo {
    margin: 0 auto;
    @include sprite('logo-large');
  }

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;

    @include mobile {
      font-size: 24px;
      line-height: 33px;
    }
  }

  &__label {
    margin-top: 10px;
    display: inline-block;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: $color-gray;

    @include mobile {
      margin-top: 15px;
      font-size: 16px;
      line-height: 22px;
    }

    mark {
      background: transparent;
      color: $color-dark;
    }
  }

  &__form-group {
    margin-top: 30px;

    @include mobile {
      margin-top: 40px;
    }
  }

  &__input {
    &:not(:first-child) {
      margin-top: 10px;

      @include mobile {
        margin-top: 16px;
      }
    }
  }

  &__form-btn {
    margin-top: 10px;
    text-align: right;
    @include mobile {
      margin-top: 20px;
    }

    &-link {
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: $color-gray;
      @include transition;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    @include mobile {
      margin-top: 60px;
      flex-direction: column;
    }
  }

  &__button {
    flex: 0 0 236px;
    max-width: 236px;

    &:first-child {
      @include mobile {
        order: 2;
        margin-top: 16px;
      }
    }

    &:last-child {
      margin-left: 20px;
      @include mobile {
        order: 1;
        margin-left: 0;
      }
    }

    &.authorization-page__button--single {
      margin: 0 auto;

      @include mobile {
        width: 100%;
      }
    }

    @include mobile {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
}
