.board-card {
  margin-top: 1px;
  padding: 13px 66px 15px 30px;
  display: flex;
  align-items: center;
  background: $color-white;

  &:not(:last-child) {
    box-shadow: 0 1px 0 #E7E9ED;
  }

  &__number {
    flex: 0 0 22px;
    max-width: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  &__user {
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex: 1 1 auto;

    &-img {
      flex: 0 0 32px;
      max-width: 32px;
      height: 32px;
      background: $color-gray;
      border-radius: 100%;
      overflow: hidden;

      img {
        width: 32px;
        height: 32px;
      }
    }

    &-name {
      margin-left: 10px;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__stamps {
    margin: 0 64px;
    flex: 0 0 39px;
    max-width: 39px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  &__country-name {
    flex: 0 0 102px;
    max-width: 102px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
}
