.board-card {
  padding: 13px 66px 15px 30px;
  display: flex;
  align-items: center;
  background: $color-white;

  @include no-desktop {
    padding: 13px 30px 15px 30px;
  }

  @include mobile {
    padding: 14px 20px;
    position: relative;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #e7e9ed;
  }

  &__number {
    flex: 0 0 22px;
    max-width: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  &__user {
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex: 1 1 auto;

    @include mobile {
      margin-left: 9px;
    }

    &-img {
      flex: 0 0 32px;
      max-width: 32px;
      height: 32px;
      background: $color-gray;
      border-radius: 100%;
      overflow: hidden;

      img {
        width: 32px;
        height: 32px;
      }
    }

    &-name {
      margin-left: 10px;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;

      @include mobile {
        margin-top: -15px;
      }
    }
  }

  &__stamps {
    margin: 0 64px;
    flex: 0 0 39px;
    max-width: 39px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    @include mobile {
      margin: 0;
      text-align: left;
    }
  }

  &__country-name {
    flex: 0 0 102px;
    max-width: 102px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    @include mobile {
      position: absolute;
      left: 93px;
      top: 33px;
      font-weight: normal;
      font-size: 10px;
      line-height: 14px;
      color: $color-gray;
    }
  }
}
