.button-nav {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: $color-white;
  display: block;
  position: relative;
  @include transition;

  &:before {
    content: '';
    position: absolute;
    @include sprite('button-nav-arrow');
    @include align(true, true);
  }


  &:hover {
    background: darken($color-white, 10%);
  }

  &--next:before {
    transform: translate(-50%, -50%) rotate(180deg);
    margin-left: 1px;
  }

  &--prev:before {
    margin-left: -1px;
  }

  &.swiper-button-disabled {
    background: rgba(218, 228, 237, 0.5) !important;
  }
}
