.card {
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;

  &__image {
    position: relative;
    padding-top: 51.43%;
    background: $color-gray;

    @include mobile {
      padding-top: 42.98%;
    }

    img {
      position: absolute;
      @include align;
      min-width: 100%;
      min-height: 100%;
    }
  }

  &__content {
    padding: 17px;
    flex: 1 1 100%;
    max-width: 100%;
  }

  &__top {
    height: 35px;
  }

  &__title {
    margin-top: 21px;
    display: block;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
  }

  &__status {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    &--completed {
      color: $color-green;
    }

    &--incompleted {
      color: $color-gray;
    }

    &--inprogress {
      color: #E0A900;
    }
  }

  &__bottom {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    border-top: 1px solid #E7E9ED;

    &-label {
      position: relative;
      padding-left: 22px;
      font-weight: normal;
      font-size: 12px;
      line-height: 100%;
      color: $color-gray;

      &:before {
        content: '';
        @include align(false, true);
        left: 0;
      }

      &--video {
        &:before {
          @include sprite('video');
        }
      }

      &--text {
        &:before {
          @include sprite('text');
        }

      }

      &--presentation {
        &:before {
          @include sprite('presentation');
        }

      }
    }

    &-btn {
      margin-left: auto;
      padding-left: 10px;
    }
  }

  &--large {
    @include mobile576 {
      border-radius: 15px 15px 10px 10px;
    }

    @media screen and (max-width: 414px) {
      border-radius: 10px;
    }
  }
}
