.round-bar {
  position: relative;
  width: 150px;
  height: 150px;

  @include mobile {
    width: 134px;
    height: 134px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    bottom: 0;
    width: 131px;
    height: 131px;
    background: #E9EDF1;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    @include mobile {
      width: 118px;
      height: 118px;
    }
  }

  &__inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__circle {
    &-back {
      stroke: #E9EDF1;
      stroke-width: 1;
      fill: none;
    }

    &-line {
      stroke: $color-green;
      stroke-width: 3;
      fill: none;
      stroke-linecap: round;
      transform: rotate(-90deg);
      transform-origin: 50px 50px;
      stroke-dasharray: 304.777px, 304.777px;
      stroke-dashoffset: 304.777px;
      transition: stroke-dashoffset 1s ease;
    }

    &-marker {
      fill: $color-green;
      stroke: white;
      stroke-width: 2.2px;
      transform-origin: 50px 50px;
      transform: rotate(0deg);
      transition: transform 1s ease;
    }


  }

  &__text {
    position: absolute;
    top: 50%;
    right: 0;
    left: 50%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 69px;
    height: 69px;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    background: $color-white;
    color: $color-ocean-blue;
    transform: translate(-50%, -50%);
    border-radius: 100%;

    @include mobile {
      width: 61px;
      height: 61px;
      font-size: 18px;
      line-height: 25px;
    }
  }
}

