<div class="error-404">
  <div class="error-404__main">
    <div class="error-404__top">
      <span class="error-404__number">404</span>
    </div>

    <div class="error-404__content">
      <span class="error-404__title">Ooops!!</span>

      <div class="error-404__wrapper">
        <span class="error-404__label">That page doesn’t exist or is unavailable</span>
      </div>

      <div class="error-404__wrapper">
        <div class="error-404__buttons">
        <span class="error-404__button">
          {{> ui/btn size="large" label="Go Back" w100=true}}
        </span>
        </div>
      </div>
    </div>
  </div>
</div>
