<div class="authorization-page">
  <div class="authorization-page__main">
    <a href="" class="authorization-page__logo"></a>
    <div class="authorization-page__content {{#if restore-password}}authorization-page__content--with-title{{/if}}">
      {{#if restore-password}}
        <span class="authorization-page__title">{{title}}</span>

        <div class="authorization-page__wrapper">
          <span class="authorization-page__label {{#if
                  confirmation}}authorization-page__label--mobile{{/if}}">{{{label}}}</span>
        </div>
      {{/if}}


      <div class="authorization-page__wrapper">
        {{#if sign-in}}
          <div class="authorization-page__form-group">
            <div class="authorization-page__input">
              {{> ui/input placeholder="Email"}}
            </div>
            <div class="authorization-page__input">
              {{> ui/input placeholder="Password" type="password"}}
            </div>
            <div class="authorization-page__form-btn">
              <a href="#" class="authorization-page__form-btn-link">Forgot Password?</a>
            </div>
          </div>
        {{/if}}

        {{#if single-email-input}}
          <div class="authorization-page__form-group">
            <div class="authorization-page__input">
              {{> ui/input placeholder="Email"}}
            </div>
          </div>
        {{/if}}

        {{#if two-password-input}}
          <div class="authorization-page__form-group">
            <div class="authorization-page__input">
              {{> ui/input placeholder="New Password"}}
            </div>

            <div class="authorization-page__input">
              {{> ui/input placeholder="Repeat Password"}}
            </div>
          </div>
        {{/if}}

        <div class="authorization-page__buttons {{#if confirmation}}authorization-page__buttons--mobile{{/if}}">
          {{#if sign-in }}
            <div class="authorization-page__button authorization-page__button--single">
              {{> ui/btn button=true type="submit" size="large" label="Sign In" w100=true}}
            </div>
          {{/if}}

          {{#if confirmation}}
            <div class="authorization-page__button authorization-page__button--single">
              {{> ui/btn size="large" label="Sign In" w100=true}}
            </div>
          {{/if}}

          {{#if btn-right}}
            <div class="authorization-page__button">
              {{> ui/btn size="large" outline=true label="Cancel" w100=true}}
            </div>

            <div class="authorization-page__button">
              {{> ui/btn button=true type="submit" size="large" label=btn-right w100=true}}
            </div>
          {{/}}
        </div>
      </div>
    </div>
  </div>
</div>

