<div class="info-block">
  <div class="info-block__row">
    <span class="info-block__label">Name</span>
    <span class="info-block__title">Alex Bernard</span>
  </div>

  <div class="info-block__row">
    <span class="info-block__label">Location</span>
    <span class="info-block__title">United States</span>
  </div>

  <div class="info-block__row">
    <span class="info-block__label">Group</span>
    <span class="info-block__title">Digital Lifecycle Journeys</span>
  </div>

  <div class="info-block__row">
    <span class="info-block__label">About</span>
    <span class="info-block__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incididunt ut et dolore magna aliqua. </span>
  </div>
</div>
