<div class="profile-page">
  <div class="profile-page__back-link">
    {{> ui/btn-arrow href="/html/leader-board" label="Back to Leader Board"}}
  </div>

  <div class="profile-page__title">
    {{title}}
  </div>

  <div class="profile-page__main">

    <div class="profile-page__left">
      <div class="avatar-card">
        <div class="avatar-card__img">
          {{> components/image img="profile/profile_avatar" img-mobile="profile/profile_avatar" ext="jpg"}}
        </div>
        <span class="avatar-card__name">Alex Bernard</span>
        {{#if edit}}
          <a href="#" class="avatar-card__label">Change Photo</a>
        {{/if}}
      </div>
    </div>
    <div class="profile-page__right">
      <div class="profile-details">
        <span class="profile-details__title">Personal Details</span>
        <div class="profile-details__content">
          {{#if settings}}
            {{> blocks/profile/info-block}}
          {{/if}}

          {{#if edit}}
            {{> blocks/profile/info-form}}
          {{/if}}
        </div>

        <div class="profile-details__buttons">
          <div class="profile-details__button"><a href="#" class="profile-details__button-link">Reset Password</a></div>
          <div class="profile-details__button">{{> ui/btn size="large" w100=true label="Edit Details"}}</div>

        </div>
      </div>
    </div>
  </div>
</div>

