<div class="board-card {{#if large}}board-card--large{{/if}}">
  <span class="board-card__number">{{number}}.</span>
  <div class="board-card__user">
    <div class="board-card__user-img">{{> components/image img=img ext="jpg"}}</div>
    <div class="board-card__user-name">{{name}}</div>
  </div>

  <div class="board-card__stamps">
    <span class="board-card__stamps-passed">{{passed}}</span>&nbsp;/&nbsp;<span
          class="board-card__stamps-total">8</span>
  </div>

  <div class="board-card__country-name">
    {{country-name}}
  </div>
</div>
