<div class="card {{#ifCond card-size "large"}}card--large {{#if not-active}}card--not-active{{/if}}{{/ifCond}}">
  {{#if img}}
    <div class="card__image">
      {{#if not-active}}
        {{> components/image img=(concat 'courses/' img) img-mobile=(concat 'courses/course_india_gray-mobile')
                ext="jpg"}}
      {{else}}
        {{> components/image img=(concat 'courses/' img) img-mobile=(concat 'courses/course_india-mobile')
                ext="jpg"}}
      {{/if}}
    </div>
  {{/if}}
  <div class="card__content">
    <div class="card__top">
      {{#if flag-icon}}
        {{> widgets/icon icon=flag-icon }}
      {{/if}}

      {{#if btn-top}}
        {{#if incompleted}}
          {{> ui/btn label="Start"}}
        {{/if}}
        {{#if inprogress}}
          {{> ui/btn color="yellow" label="Continue"}}
        {{/if}}
      {{/if}}
    </div>

    <span class="card__title">{{title}}</span>
    <span class="card__status card__status{{#if completed}}--completed{{/if}}{{#if
            incompleted}}--incompleted{{/if}}{{#if
            inprogress}}--inprogress{{/if}}">
    {{#if completed}}
      Completed
    {{/if}}

      {{#if incompleted}}
        Incompleted
      {{/if}}

      {{#if inprogress}}
        In Progress
      {{/if}}
  </span>
  </div>

  <div class="card__bottom">
    <span class="card__bottom-label card__bottom-label{{#ifCond label-icon 'video'}}--video{{/ifCond}}{{#ifCond
            label-icon 'text'}}--text{{/ifCond}}{{#ifCond label-icon 'presentation'}}--presentation{{/ifCond}}">
      {{bottom-label}}
    </span>

    {{#if btn-bottom}}
      <div class="card__bottom-btn">
        {{#if incompleted}}
          {{> ui/btn label="Start"}}
        {{/if}}

        {{#if inprogress}}
          {{> ui/btn color="yellow" label="Continue"}}
        {{/if}}

        {{#if completed}}
          {{> ui/btn color="light-blue" label="Revisit"}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
