<div class="round-bar js-round-bar" data-value="23">
  <div class="round-bar__inner">
    <svg viewBox="-5 -5 110 110" width="200px">
      <circle class="round-bar__circle-back" r="48.5" cx="50" cy="50"/>
      <circle class="round-bar__circle-line js-round-bar__line" r="48.5" cx="50" cy="50"/>
      <circle class="round-bar__circle-marker js-round-bar__marker" r="5.5" cx="50" cy="1.5"/>
    </svg>
    <div class="round-bar__text js-round-bar__text"></div>
  </div>
</div>
