<div class="event-slide">
  <span class="event-slide__title">Events</span>
  <div class="event-slide__inner">
    <div class="event-slide__img">
      {{> components/image img="dashboard/slide-img_01" ext="jpg"}}
    </div>

    <div class="event-slide__info">
      <span class="event-slide__info-title">Event Name</span>
      <p class="event-slide__info-text">Сongratulations! Нou have reached a new level in the study course: marketing
        basic
      </p>
      <div class="event-slide__info-bottom">
        <span class="event-slide__info-label">12 Jan, 2021</span>
        <span class="event-slide__info-label">15:00 PM</span>
      </div>
    </div>
  </div>
</div>
