<div class="event-slide">
  <div class="event-slide__inner">
    <div class="event-slide__img">
      {{> components/image img="dashboard/slide-img_01" img-mobile="dashboard/slide-img_01-mobile" ext="jpg"}}
    </div>

    <div class="event-slide__info">
      <span class="event-slide__info-title">Event Name</span>
      <p class="event-slide__info-text">Сongratulations! Нou have reached a new level in the study course: marketing
        basic
      </p>
      <div class="event-slide__info-bottom">
        <time class="event-slide__info-label event-slide__info-label--date" datetime="2021-01-12">12 Jan, 2021</time>
        <time class="event-slide__info-label event-slide__info-label--time" datetime="2021-01-12T15:00">15:00 PM</time>
      </div>
    </div>
  </div>
</div>
