<div class="progress-card">
  <span class="progress-card__title">Progress</span>
  <div class="progress-card__inner">
    <div class="progress-card__diagram">
      {{> widgets/round-bar color="green" progress=23}}
    </div>

    <div class="progress-card__info">
      <div class="progress-card__info-item">
        <div class="progress-card__info-item-title">2/8</div>
        <div class="progress-card__info-item-label">Stamp Earned</div>
      </div>

      <div class="progress-card__info-item">
        <div class="progress-card__info-item-title">#7</div>
        <div class="progress-card__info-item-label">In Leader Board</div>
      </div>
    </div>
  </div>
</div>
