.header-dropdown {
  position: absolute;
  padding-top: 25px;
  top: 10px;
  right: -40px;
  opacity: 0;
  height: 75px;
  visibility: hidden;
  @include transition;

  &__inner {
    background: $color-white;
    box-shadow: 0 20px 40px rgba(82, 102, 142, 0.1);
    border-radius: 10px;
    width: 126px;
    min-width: 126px;

    li:first-child {
      .header-dropdown__button {
        border-radius: 10px 10px 0 0;
      }
    }

    li:last-child {
      .header-dropdown__button {
        border-radius: 0 0 10px 10px;
      }
    }
  }

  &__button {
    padding: 10px;
    padding-left: 15px;
    width: 100%;
    text-align: left;
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: $color-dark;
    @include transition;

    &:hover {
      background: #F5F7FB;
    }
  }
}
