// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-red: #FF0000;
$color-dark: #373737;
$color-yellow: #F4B905;
$color-yellow-text: #E0A900;
$color-yellow-hover: darken($color-yellow, 5%);
$color-gray: #9EA9B8;
$color-gray-hover: darken($color-gray, 5%);
$color-green: #74BF4B;
$color-red: #EB5757;
$color-ocean-blue: #1E4471;
$color-light-blue: #CCF2FB;
$color-light-blue-hover: darken($color-light-blue, 5%);


$color-primary: #00bceb;
$color-primary-hover: darken($color-primary, 5%);
$color-secondary: #1B74FD;
$color-secondary-hover: darken($color-secondary, 5%);

$color-placeholder: $color-gray;
$color-input-border: #E2E6EA;
