//Container Width
$desktopWidth: 1180px;

//Media query
$tabletMedia: 1259px;
$mobileMedia: 767px;

//Container gutter
$desktopGutter: 60px;
$tabletGutter: 30px;
$mobileGutter: 20px;

//Grid gutter
$gridGutter: 10px;
