{{#> core/ui-kit/blocks/widget title='<select>' width=350}}
  {{#> ui/field label="Simple Select" id="select_01"}}
    {{#> ui/select id="select_01" }}
      <option value="0">India</option>
      <option value="1">Argentina</option>
      <option value="2">United States</option>
      <option value="3">Italy</option>
      <option value="4">Indonesia</option>
    {{/ui/select}}
  {{/ui/field}}
{{/core/ui-kit/blocks/widget}}

{{#> core/ui-kit/blocks/widget title='<select> (with Placeholder)' width=350}}
  {{#> ui/field label="Select with Placeholder" id="select_02"}}
    {{#> ui/select id="select_02" placeholder="Placeholder" }}
      <option value="0">India</option>
      <option value="1">Argentina</option>
      <option value="2">United States</option>
      <option value="3">Italy</option>
      <option value="4">Indonesia</option>
    {{/ui/select}}
  {{/ui/field}}
{{/core/ui-kit/blocks/widget}}

{{#> core/ui-kit/blocks/widget title='<select> (with Default)' width=350}}
  {{#> ui/field label="Select with Default value" id="select_03"}}
    {{#> ui/select id="select_03" placeholder="Placeholder" }}
      <option value="0">India</option>
      <option value="1">Argentina</option>
      <option value="2" selected>United States</option>
      <option value="3">Italy</option>
      <option value="4">Indonesia</option>
    {{/ui/select}}
  {{/ui/field}}
{{/core/ui-kit/blocks/widget}}

