<header class="header page__header">
    <div class="header__user">
      <div class="header__user-img"></div>
      <span class="header__user-name">Alex Bernard</span>
    </div>
</header>

<main class="page__content">
