<header class="header page__header">
  <div class="header__wrapper">
    <a href="dashboard.html" class="header__logo"></a>
    <div class="header__user">
      <div class="header__user-img">
        {{> components/image img="users/user_01" ext="jpg"}}
      </div>
      <a href="profile-settings.html" class="header__user-link">Alex Bernard</a>
    </div>
  </div>
</header>
<main class="page__content">
