<header class="header page__header">
  <div class="header__wrapper">
    <a href="dashboard.html" class="header__logo"></a>
    <div class="header__user">
      <div class="header__user-img">
        {{> components/image img="users/user_01" ext="jpg"}}
      </div>
      <div class="header__user-logout">
        <a href="profile-settings.html" class="header__user-link">Alex Bernard</a>
        <div class="header__user-dropdown">
          <ul class="header__user-dropdown-inner">
            <li>
              <a href="#" class="header__user-dropdown-btn">Profile</a>
            </li>
            <li>
              <a href="#" class="header__user-dropdown-btn">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="page__content">
