<header class="header page__header">
  <a href="#" class="header__logo"></a>
  <div class="header__user">
    <div class="header__user-img">
      {{> components/image img="users/user_01" ext="jpg"}}
    </div>
    <a class="header__user-link">Alex Bernard</a>
  </div>
</header>
<main class="page__content">
