<nav class="menu">
  <a href="dashboard.html" class="menu__btn {{#if home}}active{{/if}}">
    <span class="menu__btn-img">
      {{> ui/svg name='home'}}
    </span>
    <span class="menu__btn-label">Home</span>
  </a>

  <a href="courses.html" class="menu__btn {{#if courses}}active{{/if}}">
    <span class="menu__btn-img">
      {{> ui/svg name='hat'}}
    </span>
    <span class="menu__btn-label">Courses</span>
  </a>

  <a href="leader-board.html" class="menu__btn {{#if leaders}}active{{/if}}">
    <span class="menu__btn-img">
      {{> ui/svg name='star'}}
    </span>
    <span class="menu__btn-label">Leaders</span>
  </a>
</nav>
