@font-face {
  font-family: 'CiscoSans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/CiscoSans/Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'CiscoSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/CiscoSans/Bold.woff2') format('woff2');
}
