<div class="courses">
  <span class="courses__title">Courses</span>
  <div class="courses__inner">
    <div class="courses__cards">
      <div class="courses__card">
        {{> widgets/card
                card-size="large"
                img="course_india"
                flag-icon="flags/flag_india"
                title="About India Culture"
                completed=true
                btn-bottom=true
                bottom-label="Video materials"
                label-icon='video'
        }}
      </div>

      <div class="courses__card">
        {{> widgets/card
                card-size="large"
                img="course_australia"
                flag-icon="flags/flag_australia"
                title="About Australia Culture"
                inprogress=true
                btn-bottom=true
                bottom-label="Text materials"
                label-icon='text'
        }}
      </div>

      <div class="courses__card">
        {{> widgets/card
                card-size="large"
                not-active=true
                img="course_italy_gray"
                flag-icon="flags/flag_italy_gray"
                title="About Italy Culture"
                incompleted=true
                btn-bottom=true
                bottom-label="Presentation materials"
                label-icon='presentation'
        }}
      </div>

      <div class="courses__card">
        {{> widgets/card
                card-size="large"
                not-active=true
                img="course_indonesia_gray"
                flag-icon="flags/flag_indonesia_gray"
                title="About Indonesia Culture"
                incompleted=true
                btn-bottom=true
                bottom-label="Presentation materials"
                label-icon='presentation'
        }}
      </div>

      <div class="courses__card">
        {{> widgets/card
                card-size="large"
                not-active=true
                img="course_germany_gray"
                flag-icon="flags/flag_germany_gray"
                title="About Germany Culture"
                incompleted=true
                btn-bottom=true
                bottom-label="Presentation materials"
                label-icon='presentation'
        }}
      </div>

      <div class="courses__card">
        {{> widgets/card
                card-size="large"
                not-active=true
                img="course_india_gray"
                flag-icon="flags/flag_india_gray"
                title="About India Culture"
                incompleted=true
                btn-bottom=true
                bottom-label="Presentation materials"
                label-icon='presentation'
        }}
      </div>

      <div class="courses__card">
        {{> widgets/card
                card-size="large"
                img="course_australia"
                flag-icon="flags/flag_australia"
                title="About Australia Culture"
                inprogress=true
                btn-bottom=true
                bottom-label="Text materials"
                label-icon='text'
        }}
      </div>

      <div class="courses__card">
        {{> widgets/card
                card-size="large"
                not-active=true
                img="course_italy_gray"
                flag-icon="flags/flag_italy_gray"
                title="About Italy Culture"
                incompleted=true
                btn-bottom=true
                bottom-label="Presentation materials"
                label-icon='presentation'
        }}
      </div>

      <div class="courses__card">
        {{> widgets/card
                card-size="large"
                not-active=true
                img="course_indonesia_gray"
                flag-icon="flags/flag_indonesia_gray"
                title="About Indonesia Culture"
                incompleted=true
                btn-bottom=true
                bottom-label="Presentation materials"
                label-icon='presentation'
        }}
      </div>

      <div class="courses__card">
        {{> widgets/card
                card-size="large"
                not-active=true
                img="course_germany_gray"
                flag-icon="flags/flag_germany_gray"
                title="About Germany Culture"
                incompleted=true
                btn-bottom=true
                bottom-label="Presentation materials"
                label-icon='presentation'
        }}
      </div>


    </div>
  </div>

  {{> widgets/pagination}}
</div>
