<div class="board-header">
  <div class="board-header__number">
    <span class="board-header__number-label">Rank</span>
  </div>

  <div class="board-header__learner">
    <button class="board-header__btn">Learner</button>
  </div>

  <div class="board-header__stamps">
    <button class="board-header__btn">Stamps</button>
  </div>

  <div class="board-header__team">
    <button class="board-header__btn">Team</button>
  </div>

  <div class="board-header__country">
    <button class="board-header__btn">Country</button>
  </div>
</div>
