<div class="leader-board">
  <div class="leader-board__left">
    {{> blocks/page-leader/user-card}}
  </div>

  <div class="leader-board__right js-board-filter">
    <div class="leader-board__top">
      <div class="leader-board__search">
        {{> ui/search-input }}
      </div>

      <div class="leader-board__filter-buttons">
        <div class="leader-board__filter-button js-board-filter__toggle active">
          {{> ui/btn mod="btn--rectangle" outline=true label="All Time"}}
        </div>
        <div class="leader-board__filter-button js-board-filter__toggle">
          {{> ui/btn mod="btn--rectangle" outline=true label="Week"}}
        </div>
        <div class="leader-board__filter-button js-board-filter__toggle">
          {{> ui/btn mod="btn--rectangle" outline=true label="Month"}}

        </div>
      </div>
    </div>


    <div class="leader-board__board">
      {{> blocks/page-leader/board-header}}

      <div class="leader-board__main">
        {{> blocks/page-leader/leader-card
                large=true
                number=1
                img="page-leader/learner_01"
                name="Chance Philips"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}

        {{> blocks/page-leader/leader-card
                large=true
                number=2
                img="page-leader/learner_02"
                name="Jaydon Siphron"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}

        {{> blocks/page-leader/leader-card
                large=true
                number=3
                img="page-leader/learner_03"
                name="Erin Saris"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}

        {{> blocks/page-leader/leader-card
                large=true
                number=4
                img="page-leader/learner_04"
                name="Jaydon Korsgaard"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}

        {{> blocks/page-leader/leader-card
                large=true
                number=5
                img="page-leader/learner_05"
                name="Talan Levin"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}

        {{> blocks/page-leader/leader-card
                large=true
                number=6
                img="page-leader/learner_06"
                name="Talan Westervelt"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}

        {{> blocks/page-leader/leader-card
                large=true
                number=7
                img="page-leader/learner_07"
                name="Chance Rosser"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}

        {{> blocks/page-leader/leader-card
                large=true
                number=8
                img="page-leader/learner_08"
                name="Tatiana Botosh"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}

        {{> blocks/page-leader/leader-card
                large=true
                number=9
                img="page-leader/learner_09"
                name="Hanna Aminoff"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}

        {{> blocks/page-leader/leader-card
                large=true
                number=10
                img="page-leader/learner_10"
                name="Maren Baptista"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}

        {{> blocks/page-leader/leader-card
                large=true
                number=11
                img="page-leader/learner_11"
                name="Dulce Geidt"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}

        {{> blocks/page-leader/leader-card
                large=true
                number=12
                img="page-leader/learner_12"
                name="Haylie Vaccaro"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}

        {{> blocks/page-leader/leader-card
                large=true
                number=13
                img="page-leader/learner_12"
                name="Tatiana Culhane"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}

        {{> blocks/page-leader/leader-card
                large=true
                number=14
                img="page-leader/learner_12"
                name="Tatiana Culhane"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}


        {{> blocks/page-leader/leader-card
                large=true
                number=15
                img="page-leader/learner_12"
                name="Tatiana Culhane"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}


        {{> blocks/page-leader/leader-card
                large=true
                number=16
                img="page-leader/learner_12"
                name="Tatiana Culhane"
                passed=8
                team-name="Digital Lifecycle Journeys"
                country-name="United States"
        }}

      </div>
    </div>
  </div>

  <div class="leader-board__pagination">
    {{> widgets/pagination}}
  </div>

</div>
