<div class="user-card">
  <div class="user-card__header">
    <div class="user-card__header-img">
      {{> components/image img="page-leader/avatar" ext="jpg"}}
    </div>
    <div class="user-card__header-inner">
      <div class="span user-card__header-title">Alex Bernard</div>
      <span class="user-card__header-label">United States</span>
    </div>
  </div>

  <div class="user-card__inner">
    <div class="user-card__info">
      <span class="user-card__info-title">Group</span>
      <span class="user-card__info-text">Digital Lifecycle Journeys</span>
    </div>

    <div class="user-card__info">
      <span class="user-card__info-title">About</span>
      <p class="user-card__info-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor
        incididunt ut et dolore magna aliqua. </p>
    </div>

    <div class="user-card__btn">
      {{> ui/btn href="edit-profile.html" size="large" w100=true label="Edit My Profile"}}
    </div>
  </div>
</div>
