{{!Courses lesson video}}

{{> layout/head page-title="Lesson video" }}
{{> layout/header }}
{{> layout/nav courses=true}}
<div class="page__main">
  <div class="container">
    {{> blocks/lessons/lesson-page
            title="About India Culture"
            lesson-video=true
    }}
  </div>
</div>

{{> layout/footer }}

