{{!Dashboard}}

{{> layout/head page-title="Dashboard" }}
{{> layout/header }}
{{> layout/nav home=true}}
<div class="page__main">
  <div class="container">
    {{> blocks/page-dashboard/dashboard}}
  </div>
</div>

{{> layout/footer }}






