<div class="document">
  <div class="document__container">
    <div class="document__header">
      <span class="document__header-title">simple.pdf</span>
    </div>

    <div class="document__body">
      <div class="document__image">
        {{> components/image img="lessons/document_01" img-mobile="lessons/document_01-mobile" ext="jpg"}}
      </div>

      <i class="document__nav document__nav--prev"></i>
      <i class="document__nav document__nav--next"></i>
    </div>
    <div class="document__progress">
      <i class="document__progress-bar"></i>
    </div>


    <div class="document__controls">
      <div class="document__controls-pages">
        Page
        <span class="document__controls-pages-passed">1</span>&nbsp;/&nbsp;<span
              class="document__controls-pages-total">10</span>
      </div>

      <i class="document__controls-download"></i>
      <i class="document__controls-full-screen"></i>
    </div>
  </div>
</div>
