<div class="lesson-page">
  <div class="lesson-page__back-link">
    {{> ui/btn-arrow href="/html/courses.html" label="Back to courses"}}
  </div>

  <div class="lesson-page__main">
    <div class="lesson-page__left">
      <span class="lesson-page__title">
        {{title}}
      </span>

      <p class="lesson-page__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.
      </p>

      <div class="lesson-page__content">
        {{!> @partial-block}}
      </div>

      <div class="lesson-page__informer">
        {{#if lesson-video}}
          <span class="lesson-page__informer-title">This course is completed!</span>
          <p class="lesson-page__informer-text">You have finished the course and earned your passport stamp for
            India.</p>
        {{/if}}
      </div>

    </div>
    <div class="lesson-page__right">
      <div class="lesson-page__tip">
        <span class="lesson-page__tip-title">Important to know</span>
        <div class="lesson-page__tip-inner">
          {{#times 3}}
            <p class="lesson-page__tip-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor
              incididunt ut labore et dolore magna aliqua. </p>
          {{/times}}
        </div>
      </div>
    </div>
  </div>
</div>
