<div class="presentation">
  <div class="presentation__content">
    <div class="presentation__image">
      {{> components/image img="lessons/presentation_01" img-mobile="lessons/presentation_01-mobile" ext="jpg"}}
    </div>
  </div>
</div>
