<div class="video-player">
  <div class="video-player__content">
    <div class="video-player__video">
      {{> components/image img="lessons/video-bg" img-mobile="lessons/video-bg-mobile" ext="jpg"}}
    </div>
    <div class="video-player__video-progress">
      <i class="video-player__video-progress-bar"></i>
    </div>
    <i class="video-player__video-play"></i>
    <i class="video-player__video-reload"></i>
  </div>
  <div class="video-player__controls">
    <i class="video-player__controls-reload"></i>
    <i class="video-player__controls-sound"></i>
    <div class="video-player__controls-time">
      <span class="video-player__controls-time-passed">20:40</span>&nbsp;/&nbsp;<span
            class="video-player__controls-time-total">20:40</span>
    </div>
    <i class="video-player__controls-settings"></i>
    <i class="video-player__controls-full-screen"></i>
  </div>
</div>
