.dashboard {
  margin-top: 28px;

  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
  }


  &__cards {
    margin: 0 -10px;
    margin-top: 28px;
    display: flex;
  }

  &__card {
    padding: 0 10px;
    flex: 0 0 16.66%;
    max-width: 16.66%;
  }

  &__container {
    margin: 0 -10px;
    margin-top: 20px;
    display: flex;

  }

  &__block {
    padding: 0 10px;
    flex: 1 1 50%;
    max-width: 50%;

    &-item {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }
}
