.event-slide {
  padding: 30px;
  padding-bottom: 61px;
  //max-width: 580px;
  background: #FFFFFF;

  &__title {
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
  }

  &__inner {
    margin: 25px auto 0;
    display: flex;
    max-width: 449px;
  }

  &__img {
    flex: 0 0 72px;
    max-width: 72px;
    height: 72px;
    background: $color-gray;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 72px;
      height: 72px;
    }
  }

  &__info {
    margin-left: 20px;

    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
    }

    &-text {
      margin-top: 10px;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
    }

    &-bottom {
      margin-top: 14px;
      padding-top: 10px;
      border-top: 1px solid #e7e9ed;
      display: flex;
    }

    &-label {
      position: relative;
      padding-left: 22px;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: $color-gray;

      &:not(:first-child) {
        margin-left: 20px;
      }

      &:before {
        content: '';
        @include align(false, true);
        left: 0;
      }

      &--date {
        &:before {
          @include sprite('calendar');
        }
      }

      &--time {
        &:before {
          @include sprite('clock');
        }
      }
    }
  }
}
