.document {
  &__header {
    padding: 9px 30px;
    border-radius: 10px 10px 0 0;
    background: #494949;

    &-title {
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #F5F7FB;
    }
  }

  &__body {
    position: relative;
    padding: 12px 0;
    background: $color-dark;
  }

  &__nav {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #F5F6FA;
    border-radius: 100%;
    @include align(false, true);
    cursor: pointer;
    @include transition;

    &:hover {
      background: darken(#F5F6FA, 5%);
    }

    &:before {
      content: '';
      @include align;
    }

    &--prev {
      left: 30px;

      &:before {
        @include sprite('slider-arrow-left');
      }
    }

    &--next {
      right: 30px;

      &:before {
        @include sprite('slider-arrow-right');
      }
    }
  }

  &__image {
    display: flex;
    justify-content: center;
  }

  &__progress {
    position: relative;
    height: 4px;
    width: 100%;
    background: $color-gray;

    &-bar {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 4px;
      width: 15%;
      background: $color-primary;
    }
  }

  &__controls {
    padding: 20px 30px;
    background: $color-white;
    border-radius: 0 0 10px 10px;

    &-pages {
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: $color-gray;

      &-passed {
        color: $color-dark;
      }
    }

    &__download {

    }

    &-full-screen {

    }
  }
}
