.video-player {
  background: $color-white;
  border-radius: 10px 10px 0 0;
  overflow: hidden;

  &__content {
    position: relative;
    padding-top: 55.97%;
  }

  &__video {
    position: absolute;
    @include align;
    min-width: 100%;
    min-height: 100%;

    &-play {
      @include sprite("play-btn");
      @include align;
      cursor: pointer;
    }

    &-reload {
      @include mobile {
        @include sprite("reload-btn-small");
        @include align;
        cursor: pointer;
      }
    }
  }

  &__controls {
    padding: 18px;
    display: flex;
    align-items: center;
    background: #ffffff;

    &-reload {
      @include sprite("reload-btn");
      display: block;
      width: 24px;
      height: 24px;
      cursor: pointer;
      z-index: 2;
    }

    &-sound {
      margin-left: 20px;
      @include sprite("sound-btn");
      cursor: pointer;
      z-index: 2;
    }

    &-time {
      margin-left: 10px;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: $color-gray;

      &-passed {

      }

      &-total {

      }
    }

    &-settings {
      margin-left: auto;
      @include sprite("settings-btn");
      cursor: pointer;
      z-index: 2;
    }

    &-full-screen {
      margin-left: 20px;
      @include sprite("full-screen-btn");
      cursor: pointer;
      z-index: 2;
    }
  }
}
