.form-field {
  position: relative;
  width: 100%;

  @include mobile {
    padding-bottom: 22px;
  }

  &__label {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    display: block;
    color: #000;
  }

  &__input {
    margin-top: 5px;
  }

  &__note {
    margin-top: 4px;
    left: 0;
    bottom: 0;
    display: block;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: $color-gray;
  }

  &__error {
    margin-top: 4px;
    left: 0;
    bottom: 0;
    display: block;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: $color-red;
  }
}
