.search-input {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 10px;

  input:focus::-webkit-input-placeholder {
    color: transparent;
  }

  input:focus:-moz-placeholder {
    color: transparent;
  }

  /* FF 4-18 */
  input:focus::-moz-placeholder {
    color: transparent;
  }

  /* FF 19+ */
  input:focus:-ms-input-placeholder {
    color: transparent;
  }

  /* IE 10+ */

  &__icon {
    content: '';
    @include sprite('search');
    @include align(false, true);
    right: 17px;
    margin-top: -1px;
  }

  &__input {
    padding: 0 40px 0 20px;
    display: block;
    height: 50px;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    background: #F8F9FC;
    color: $color-dark;
    border: 1px solid $color-input-border;
    border-radius: 10px;
    @include transition;

    @include mobile {
      display: none;
    }

    @include placeholder {
      color: $color-placeholder;
    }

    &:focus {
      border-color: $color-primary;

      + .search-input__icon {
        @include sprite('search-blue');
      }
    }

    //  &:placeholder-shown {
    //    ~ .search-input__reset {
    //      display: none;
    //    }
    //
    //    padding-right: 40px;
    //  }rec
    //}

    //&__reset {
    //  position: absolute;
    //  right: 20px;
    //  @include align(false, true);
    //  @include sprite('search-reset');
    //
    //  &:hover {
    //    @include sprite('search-reset-blue');
    //  }
    //}
  }
}
