.avatar-card {
  padding: 30px;
  min-width: 280px;
  min-height: 287px;
  text-align: center;
  background: $color-white;
  box-shadow: 0 20px 40px rgba(229, 234, 243, 0.8);
  border-radius: 10px;

  @include mobile {
    min-height: 266px;
  }

  &__img {
    margin: 0 auto;
    width: 135px;
    height: 135px;
    overflow: hidden;

    img {
      width: 135px;
      height: 135px;
      border-radius: 50%;
    }
  }

  &__name {
    margin-top: 40px;
    display: block;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;

    @include mobile {
      margin-top: 20px;
    }
  }

  &__change {
    position: relative;
    display: flex;
    justify-content: center;

    &-input {
      opacity: 0;
      visibility: hidden;
      width: 0;
      height: 0;
    }

    &-button {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $color-primary;
      cursor: pointer;
      @include transition;

      &:hover {
        color: $color-primary-hover;
      }
    }
  }
}
