<div class="search-input js-search-input">
  <input class="search-input__input" value="{{value}}" autocomplete="off" type="text" name="q"
         placeholder="{{#if placeholder}}{{placeholder}}{{else}}Search{{/if}}"/>
  <i class="search-input__icon"></i>
</div>
