.carousel {
  &__slider {
    position: relative;
  }

  &__row {
    width: 100%;

    @include reset-slider-container;

    .non-swiper-slide {
      display: none;
    }
  }

  &__controls {
    position: absolute;
    top: 0;
    right: 0;

    &-link {
      position: absolute;
      right: 100px;
      top: -57px;
      font-family: CiscoSans, sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      white-space: nowrap;

      &.no-swiper {
        right: 0;
      }

      @include transition;

      &:hover {
        color: $color-primary;
      }

      @include no-desktop {
        right: 0;
      }
    }
  }

  &__card {
    &:not(:first-child) {
      box-sizing: content-box;

      @include desktop {
        margin-left: 20px;

        .swiper-container-initialized & {
          margin-left: 0;
        }
      }

      @include tablet-and-mobile {
        padding-left: 20px;
      }
    }

    flex: 0 0 180px;
    max-width: 180px;

    &:last-child {
      @include mobile {
        padding-right: 20px;
      }
    }
  }

  .swiper-container {
    @include desktop {
      border-radius: 10px;
    }

    @include mobile {
      margin-right: -20px;
    }
  }

  .swiper-slide {
    height: auto;
  }


  &__nav {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: $color-white;
    display: block;
    position: relative;
    @include transition;

    &.no-swiper {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      @include sprite('button-nav-arrow');
      @include align(true, true);
    }


    &:hover {
      background: darken($color-white, 10%);
    }

    &--next {
      @include no-desktop {
        display: none;
      }

      position: absolute;
      right: 0;
      top: -33px;
      transform: translateY(-100%) translateX(0);

      .no-navigation & {
        display: none;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(180deg);
        margin-left: 1px;
      }
    }

    &--prev {
      @include no-desktop {
        display: none;
      }

      position: absolute;
      right: 50px;
      top: -33px;
      transform: translateY(-100%) translateX(0);

      .no-navigation & {
        display: none;
      }

      &:before {
        margin-left: -1px;
      }
    }

    &.swiper-button-disabled {
      background: rgba(218, 228, 237, 0.5) !important;
    }
  }


}
