.carousel {
  &__slider {
    position: relative;
  }

  &__row {
    width: 100%;

    @include reset-slider-container;

    .non-swiper-slide {
      display: none;
    }
  }

  &__prev {
    @include no-desktop {
      display: none;
    }

    position: absolute;
    right: 50px;
    top: -33px;
    transform: translateY(-100%) translateX(0);

    .no-navigation & {
      display: none;
    }

  }

  &__next {
    @include no-desktop {
      display: none;
    }

    position: absolute;
    right: 0;
    top: -33px;
    transform: translateY(-100%) translateX(0);

    .no-navigation & {
      display: none;
    }
  }
}
