.leader-board {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;

  @include mobile {
    padding-bottom: 118px;
  }

  &__left {
    max-width: 280px;
  }

  &__right {
    margin-left: 20px;
    flex: 1 1 auto;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__search {
    flex: 1 1 380px;
    max-width: 380px;
  }

  &__filter-buttons {
    display: flex;
    margin-left: auto;
  }

  &__filter-button {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__board {
    margin-top: 20px;
  }

  &__main {
    margin-top: 10px;
    margin-right: -14px;
    padding-right: 10px;
    max-height: 770px;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: $color-gray transparent;

    /* для Chrome/Edge/Safari */
    &::-webkit-scrollbar {
      height: 66px;
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-gray;
      border-radius: 10px;
      width: 4px;
    }
  }

  //&__wrapper {
  //  padding-right: 37px;
  //  max-height: 770px;
  //  overflow-y: auto;
  //}
}
