.leader-board {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;

  @include smallTablet-and-mobile {
    display: block;
  }

  @include mobile {
    position: relative;
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 118px;
  }

  &__left {
    max-width: 280px;

    @include smallTablet-and-mobile {
      max-width: none;
    }
  }

  &__right {
    margin-left: 20px;
    flex: 1 1 auto;

    @include smallTablet-and-mobile {
      margin-left: 0;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include smallTablet-and-mobile {
      display: none;
    }

  }

  &__search {
    flex: 1 1 380px;
    max-width: 380px;
  }

  &__filter-buttons {
    display: flex;
    margin-left: 20px;
  }

  &__filter-button {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__board {
    margin-top: 20px;
  }

  &__main {
    margin-top: 10px;
    margin-right: -14px;
    padding-right: 10px;
    max-height: 770px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $color-gray transparent;

    /* для Chrome/Edge/Safari */
    &::-webkit-scrollbar {
      height: 66px;
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-gray;
      border-radius: 10px;
      width: 4px;
    }

    @include no-desktop {
      margin-right: 0;
      padding-right: 0;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @include mobile {
      margin-top: 0;
    }
  }

  &__pagination {
    display: none;

    @include mobile {
      position: absolute;
      bottom: 44px;
      left: 0;
      right: 0;
      display: block;
      text-align: center;
    }

  }
}
