.leader-card {
  padding: 14px 37px 14px 35px;;
  display: flex;
  align-items: center;
  background: $color-white;
  box-shadow: 0 1px 0 #E7E9ED;

  @include smallTablet-and-mobile {
    padding: 14px 30px;
  }

  @include mobile {
    padding: 10px 20px;
    position: relative;
    min-height: 70px;
    align-items: flex-start;

    &:first-child {
      border-radius: 10px 10px 0 0;
    }

    &:last-child {
      border-radius: 0 0 10px 10px;
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid #e7e9ed;
  }

  &__number {
    flex: 0 1 80px;
    max-width: 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    @include smallTablet {
      flex: 0 1 60px;
      max-width: 60px;
    }

    @include mobile {
      flex: 0 1 22px;
      max-width: 22px;
    }
  }

  &__learner {
    margin: 0 10px;
    display: flex;
    align-items: center;
    flex: 0 1 212px;
    max-width: 212px;

    @include mobile {
      margin-left: 9px;
      flex: 0 1 auto;
      max-width: none;
    }

    &-img {
      flex: 0 0 32px;
      max-width: 32px;
      height: 32px;
      background: $color-gray;
      border-radius: 100%;
      overflow: hidden;

      img {
        width: 32px;
        height: 32px;
        object-fit: cover;
      }
    }

    &-name {
      margin-left: 10px;
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;

      @include mobile {
        margin-top: -15px;
        font-weight: normal;
        white-space: nowrap;
      }
    }
  }

  &__stamps {
    margin: 0 10px;
    flex: 0 1 105px;
    max-width: 105px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    @include mobile {
      margin: 0;
      margin-left: auto;
      text-align: right;
    }

    &-title {
      margin-bottom: 3px;
      display: block;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      @include no-mobile {
        display: none;
      }
    }
  }

  &__team-name {
    margin: 0 10px;
    flex: 0 1 229px;
    max-width: 229px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    @include smallTablet {
      flex: 0 1 300px;
      max-width: 300px;
    }

    @include mobile {
      margin: 0;
      position: absolute;
      left: 94px;
      top: 45px;
      font-weight: normal;
      font-size: 10px;
      line-height: 14px;
      color: $color-gray;
    }

  }

  &__country-name {
    flex: 0 1 123px;
    max-width: 123px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;

    @include mobile {
      position: absolute;
      left: 94px;
      top: 28px;
      font-weight: normal;
      font-size: 10px;
      line-height: 14px;
      color: $color-gray;
    }
  }
}
