<div class="stamps">
  <div class="stamps__back-link">
    {{> ui/btn-arrow href="dashboard.html" label="Back to dashboard"}}
  </div>
  <div class="stamps__inner">
    <span class="stamps__title">All Stamps</span>

    <div class="stamps__cards">
      {{> modules/carousel/dashboard}}
    </div>
  </div>
</div>
