.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  z-index: 3;

  &__logo {
    margin-left: 22px;
    @include sprite('logo-small');
  }

  &__user {
    margin-right: 40px;
    display: flex;
    align-items: center;

    &-img {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      overflow: hidden;

      img {
        width: 32px;
        height: 32px;
        background: #F5F7FB;
      }
    }

    &-link {
      margin-left: 10px;
    }
  }
}
