.header {
  position: sticky;
  top: 0;
  padding-left: 100px;
  background: $color-white;
  z-index: 4;

  @include smallTablet-and-mobile {
    height: 68px;
    filter: drop-shadow(0px 5px 10px rgba(82, 102, 142, 0.12));
  }

  @include mobile {
    padding: 0 20px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: 72px;
    border-left: 1px solid #e7e9ed;

    @include smallTablet-and-mobile {
      border-left: none;
    }
  }

  &__inner {
    &:hover {
      .header__user-link {
        color: $color-primary;
      }

      .header-dropdown {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__logo {
    position: absolute;
    left: 0;
    margin-left: 22px;
    @include align(false, true);
    @include sprite('logo-small');

    @include smallTablet {
      margin-left: 30px;
    }

    @include mobile {
      margin-left: 20px;
      @include sprite('logo-mobile');
    }
  }

  &__user {
    position: relative;
    margin-right: 55px;
    margin-left: auto;
    display: flex;
    align-items: center;
    @include mobile {
      margin-right: 0;
    }

    &-img {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      overflow: hidden;

      img {
        width: 32px;
        height: 32px;
        background: #F5F7FB;
        object-fit: cover;
      }
    }

    &-link {
      position: relative;
      z-index: 2;
      margin-left: 10px;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;

      @include tablet-and-mobile {
        pointer-events: none;
      }
    }

  }
}


