.menu {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 267px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100px;
  background: #fff;
  z-index: 3;

  @include smallTablet-and-mobile {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    top: auto;
    width: 100%;
    height: 70px;
    box-shadow: 0px -5px 20px rgba(82, 102, 142, 0.1);
  }

  &__btn {
    text-align: center;
    color: $color-gray;

    &:not(:first-child) {
      margin-top: 48px;
    }

    @include smallTablet-and-mobile {
      &:not(:first-child) {
        margin-top: 0;
      }
    }

    &-img {
      display: flex;
      font-size: 24px;
      justify-content: center;
    }

    &-label {
      margin-top: 13px;
      display: inline-flex;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;

      @include smallTablet-and-mobile {
        margin-top: 0;
      }

      @include mobile {
        margin-top: 5px;
        font-size: 12px;
        line-height: 16px;
      }
    }

    &.active {
      color: $color-primary;
    }

    &:hover {
      color: $color-primary;
    }
  }

}
