.menu {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 269px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100px;
  background: #fff;
  z-index: 2;

  &__btn {
    text-align: center;
    color: $color-gray;

    &:not(:first-child) {
      margin-top: 48px;
    }

    &-img {
      display: block;
      font-size: 24px;
    }

    &-label {
      margin-top: 10px;
      display: block;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
    }

    &.active {
      color: $color-primary;
    }

    &:hover {
      color: $color-primary;
    }
  }

}
