{{#if carousel}}
  <div class="carousel">
    <div class="carousel__inner js-carousel">
      <div class="carousel__slider">
        <div class="carousel__controls">
          <a href="stamps.html" class="carousel__controls-link">See all</a>
          <button class="carousel__nav carousel__nav--prev"></button>
          <button class="carousel__nav carousel__nav--next"></button>
        </div>

        <div class="carousel__row">
          <div class="swiper-container js-carousel__slider">
            <div class="swiper-wrapper">
              {{> @partial-block}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  {{> @partial-block}}
{{/if}}
