{{#if carousel}}
  <div class="carousel">
    <div class="carousel__inner js-carousel">
      <div class="carousel__slider">
        <div class="carousel__controls"></div>

        <div class="carousel__row">
          <div class="swiper-container js-carousel__slider">
            <div class="swiper-wrapper">
              {{> @partial-block}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  {{> @partial-block}}
{{/if}}
