{{#if carousel}}
  <div class="carousel">
    <div class="carousel__inner js-carousel">
      <div class="carousel__slider">
        <div class="carousel__prev">
          <button class="button-nav button-nav--prev js-carousel__prev"></button>
        </div>
        <div class="carousel__next">
          <button class="button-nav button-nav--next js-carousel__next"></button>
        </div>
        <div class="carousel__row">
          <div class="swiper-container js-carousel__slider">
            <div class="swiper-wrapper">
              {{> @partial-block}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  {{> @partial-block}}
{{/if}}
