{{#> modules/carousel/_component}}
  <div class="dashboard__card swiper-slide js-carousel__item">
    {{> widgets/card
            flag-icon="flags/flag_india"
            title="India"
            completed=true
            bottom-label="Video materials"
            label-icon='video'
    }}
  </div>

  <div class="dashboard__card swiper-slide js-carousel__item">
    {{> widgets/card
            btn-top=true
            title="Germany"
            incompleted=true
            bottom-label="Text materials"
            label-icon='text'
    }}
  </div>

  <div class="dashboard__card swiper-slide js-carousel__item">
    {{> widgets/card
            btn-top=true
            title="Italy"
            inprogress=true
            bottom-label="Presentation materials"
            label-icon='presentation'
    }}
  </div>

  <div class="dashboard__card swiper-slide js-carousel__item">
    {{> widgets/card
            flag-icon="flags/flag_australia"
            title="Australia"
            completed=true
            bottom-label="Video materials"
            label-icon='video'
    }}
  </div>

  <div class="dashboard__card swiper-slide js-carousel__item">
    {{> widgets/card
            btn-top=true
            title="Indonesia"
            incompleted=true
            bottom-label="Text materials"
            label-icon='text'
    }}
  </div>

  <div class="dashboard__card swiper-slide js-carousel__item">
    {{> widgets/card
            btn-top=true
            title="Argentina"
            incompleted=true
            bottom-label="Text materials"
            label-icon='text'
    }}
  </div>

  <div class="dashboard__card swiper-slide js-carousel__item">
    {{> widgets/card
            btn-top=true
            title="Argentina"
            incompleted=true
            bottom-label="Text materials"
            label-icon='text'
    }}
  </div>

  <div class="dashboard__card swiper-slide js-carousel__item">
    {{> widgets/card
            btn-top=true
            title="Argentina"
            incompleted=true
            bottom-label="Text materials"
            label-icon='text'
    }}
  </div>

  <div class="dashboard__card swiper-slide js-carousel__item">
    {{> widgets/card
            btn-top=true
            title="Argentina"
            incompleted=true
            bottom-label="Text materials"
            label-icon='text'
    }}
  </div>
{{/modules/carousel/_component}}
