$icons: (sprite: (width: 577px, height: 540px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
arrow-left: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: 0px),
arrow-left-small: (width: 8px, height: 12px, backgroundX: -24px, backgroundY: -24px),
arrow-right-small: (width: 8px, height: 12px, backgroundX: -32px, backgroundY: -36px),
attention: (width: 28px, height: 28px, backgroundX: -40px, backgroundY: -48px),
calendar: (width: 16px, height: 16px, backgroundX: -68px, backgroundY: -76px),
clock: (width: 16px, height: 16px, backgroundX: -84px, backgroundY: -92px),
download: (width: 24px, height: 24px, backgroundX: -100px, backgroundY: -108px),
flag-india-small: (width: 28px, height: 21px, backgroundX: -124px, backgroundY: -132px),
form-checkbox-tick: (width: 16px, height: 12px, backgroundX: -152px, backgroundY: -153px),
full-screen-btn: (width: 24px, height: 24px, backgroundX: -168px, backgroundY: -165px),
input-date: (width: 18px, height: 20px, backgroundX: -192px, backgroundY: -189px),
logo-small: (width: 57px, height: 30px, backgroundX: -210px, backgroundY: -209px),
more-dots: (width: 12px, height: 3px, backgroundX: -267px, backgroundY: -239px),
pagination-arrow-next: (width: 18px, height: 19px, backgroundX: -279px, backgroundY: -242px),
pagination-arrow-prev: (width: 18px, height: 19px, backgroundX: -297px, backgroundY: -261px),
play-btn: (width: 42px, height: 42px, backgroundX: -315px, backgroundY: -280px),
popup-close: (width: 26px, height: 26px, backgroundX: -357px, backgroundY: -322px),
presentation: (width: 16px, height: 16px, backgroundX: -383px, backgroundY: -348px),
reload-btn: (width: 24px, height: 24px, backgroundX: -399px, backgroundY: -364px),
repeat: (width: 30px, height: 30px, backgroundX: -423px, backgroundY: -388px),
select2-arrow: (width: 14px, height: 9px, backgroundX: -453px, backgroundY: -418px),
select2-arrow-active: (width: 14px, height: 9px, backgroundX: -467px, backgroundY: -427px),
settings-btn: (width: 24px, height: 24px, backgroundX: -481px, backgroundY: -436px),
slider-arrow-left: (width: 8px, height: 12px, backgroundX: -505px, backgroundY: -460px),
slider-arrow-right: (width: 8px, height: 12px, backgroundX: -513px, backgroundY: -472px),
sound-btn: (width: 24px, height: 24px, backgroundX: -521px, backgroundY: -484px),
text: (width: 16px, height: 16px, backgroundX: -545px, backgroundY: -508px),
video: (width: 16px, height: 16px, backgroundX: -561px, backgroundY: -524px),
);
