$icons: (sprite: (width: 836px, height: 740px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
arrow-left: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: 0px),
arrow-left-small: (width: 8px, height: 12px, backgroundX: -24px, backgroundY: -24px),
arrow-right-small: (width: 8px, height: 12px, backgroundX: -32px, backgroundY: -36px),
attention: (width: 28px, height: 28px, backgroundX: -40px, backgroundY: -48px),
calendar: (width: 16px, height: 16px, backgroundX: -68px, backgroundY: -76px),
clock: (width: 16px, height: 16px, backgroundX: -84px, backgroundY: -92px),
download: (width: 24px, height: 24px, backgroundX: -100px, backgroundY: -108px),
filter-all: (width: 24px, height: 24px, backgroundX: -124px, backgroundY: -132px),
filter-arrows: (width: 16px, height: 28px, backgroundX: -148px, backgroundY: -156px),
flag-india-small: (width: 28px, height: 21px, backgroundX: -164px, backgroundY: -184px),
form-checkbox-tick: (width: 16px, height: 12px, backgroundX: -192px, backgroundY: -205px),
full-screen-btn: (width: 24px, height: 24px, backgroundX: -208px, backgroundY: -217px),
input-date: (width: 18px, height: 20px, backgroundX: -232px, backgroundY: -241px),
logo-large: (width: 147px, height: 78px, backgroundX: -250px, backgroundY: -261px),
logo-small: (width: 57px, height: 30px, backgroundX: -397px, backgroundY: -339px),
more-dots: (width: 12px, height: 3px, backgroundX: -454px, backgroundY: -369px),
pagination-arrow-next: (width: 18px, height: 19px, backgroundX: -466px, backgroundY: -372px),
pagination-arrow-prev: (width: 18px, height: 19px, backgroundX: -484px, backgroundY: -391px),
play-btn: (width: 42px, height: 42px, backgroundX: -502px, backgroundY: -410px),
popup-close: (width: 26px, height: 26px, backgroundX: -544px, backgroundY: -452px),
presentation: (width: 16px, height: 16px, backgroundX: -570px, backgroundY: -478px),
reload-btn: (width: 24px, height: 24px, backgroundX: -586px, backgroundY: -494px),
repeat: (width: 30px, height: 30px, backgroundX: -610px, backgroundY: -518px),
search: (width: 24px, height: 24px, backgroundX: -640px, backgroundY: -548px),
search-blue: (width: 24px, height: 24px, backgroundX: -664px, backgroundY: -572px),
select2-arrow: (width: 16px, height: 13px, backgroundX: -688px, backgroundY: -596px),
select2-arrow-active: (width: 16px, height: 13px, backgroundX: -704px, backgroundY: -609px),
select2-tick: (width: 20px, height: 14px, backgroundX: -720px, backgroundY: -622px),
settings-btn: (width: 24px, height: 24px, backgroundX: -740px, backgroundY: -636px),
slider-arrow-left: (width: 8px, height: 12px, backgroundX: -764px, backgroundY: -660px),
slider-arrow-right: (width: 8px, height: 12px, backgroundX: -772px, backgroundY: -672px),
sound-btn: (width: 24px, height: 24px, backgroundX: -780px, backgroundY: -684px),
text: (width: 16px, height: 16px, backgroundX: -804px, backgroundY: -708px),
video: (width: 16px, height: 16px, backgroundX: -820px, backgroundY: -724px),
);
