$icons: (sprite: (width: 904px, height: 776px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
arrow-left: (width: 24px, height: 24px, backgroundX: 0px, backgroundY: 0px),
arrow-left-small: (width: 8px, height: 12px, backgroundX: -24px, backgroundY: -24px),
arrow-right-small: (width: 8px, height: 12px, backgroundX: -32px, backgroundY: -36px),
attention: (width: 28px, height: 28px, backgroundX: -40px, backgroundY: -48px),
calendar: (width: 16px, height: 16px, backgroundX: -68px, backgroundY: -76px),
clock: (width: 16px, height: 16px, backgroundX: -84px, backgroundY: -92px),
download: (width: 24px, height: 24px, backgroundX: -100px, backgroundY: -108px),
filter-all: (width: 24px, height: 24px, backgroundX: -124px, backgroundY: -132px),
filter-arrows: (width: 16px, height: 28px, backgroundX: -148px, backgroundY: -156px),
flag-india-small: (width: 28px, height: 21px, backgroundX: -164px, backgroundY: -184px),
form-checkbox-tick: (width: 16px, height: 12px, backgroundX: -192px, backgroundY: -205px),
full-screen-btn: (width: 24px, height: 24px, backgroundX: -208px, backgroundY: -217px),
input-date: (width: 18px, height: 20px, backgroundX: -232px, backgroundY: -241px),
logo-large: (width: 147px, height: 78px, backgroundX: -250px, backgroundY: -261px),
logo-mobile: (width: 68px, height: 36px, backgroundX: -397px, backgroundY: -339px),
logo-small: (width: 57px, height: 30px, backgroundX: -465px, backgroundY: -375px),
more-dots: (width: 12px, height: 3px, backgroundX: -522px, backgroundY: -405px),
pagination-arrow-next: (width: 18px, height: 19px, backgroundX: -534px, backgroundY: -408px),
pagination-arrow-prev: (width: 18px, height: 19px, backgroundX: -552px, backgroundY: -427px),
play-btn: (width: 42px, height: 42px, backgroundX: -570px, backgroundY: -446px),
popup-close: (width: 26px, height: 26px, backgroundX: -612px, backgroundY: -488px),
presentation: (width: 16px, height: 16px, backgroundX: -638px, backgroundY: -514px),
reload-btn: (width: 24px, height: 24px, backgroundX: -654px, backgroundY: -530px),
repeat: (width: 30px, height: 30px, backgroundX: -678px, backgroundY: -554px),
search: (width: 24px, height: 24px, backgroundX: -708px, backgroundY: -584px),
search-blue: (width: 24px, height: 24px, backgroundX: -732px, backgroundY: -608px),
select2-arrow: (width: 16px, height: 13px, backgroundX: -756px, backgroundY: -632px),
select2-arrow-active: (width: 16px, height: 13px, backgroundX: -772px, backgroundY: -645px),
select2-tick: (width: 20px, height: 14px, backgroundX: -788px, backgroundY: -658px),
settings-btn: (width: 24px, height: 24px, backgroundX: -808px, backgroundY: -672px),
slider-arrow-left: (width: 8px, height: 12px, backgroundX: -832px, backgroundY: -696px),
slider-arrow-right: (width: 8px, height: 12px, backgroundX: -840px, backgroundY: -708px),
sound-btn: (width: 24px, height: 24px, backgroundX: -848px, backgroundY: -720px),
text: (width: 16px, height: 16px, backgroundX: -872px, backgroundY: -744px),
video: (width: 16px, height: 16px, backgroundX: -888px, backgroundY: -760px),
);
