.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-hat {
  width: 26px;
  height: 24px;
}
.icon-home {
  width: 20px;
  height: 20px;
}
.icon-popup-close {
  width: 26px;
  height: 26px;
}
.icon-star {
  width: 21px;
  height: 20px;
}
